{% extends 'index.html' %}

{% block title %}Book{% endblock %}

{% block pagetitle %}Book{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Book List <a href="{{ url_for('book_bp.insert_update_book',id_data='0') }}" class="btn btn-success pull-right" >Add Book Data</a></h2>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}

            <div class="alert alert-success alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">x</wspan>
                </button>
                {{message}}
            </div>


            {%endfor%}
            {%endif%}
            {%endwith%}
            <p>Type something in the input field to search the table:</p>  
            <input class="form-control" id="myInput" type="text" placeholder="Search..">
            <br>
            <table class="table table-striped">
                <tr>
                    <th>Serial</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>isbn13</th>
                    <th>Total Qty</th>
                    <th>Action</th>
                </tr>
<tbody id="myTable">
                {% for row in book %}

                <tr>
                    <td>{{row.0}}</td>
                    <td>{{row.1}}</td>
                    <td>{{row.2}}</td>
                    <td>{{row.3}}</td>
                    <td>{{row.4}}</td>

                    <td>
                        <a href="{{ url_for('book_bp.insert_update_book',id_data=row.0) }}" class="btn btn-warning btn-xs" data-toggle="modal">Edit</a>
                        <a href="{{ url_for('book_bp.delete_book',id_data=row.0) }}" class="btn btn-danger btn-xs"
                            onclick="return confirm('Are You Sure For Delete?')">Delete</a>
                    </td>
                </tr>

                {%endfor%}
            </tbody>
            </table>

        </div>
    </div>

</div>

<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>

{% endblock %}